body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d1d1d1;
    backdrop-filter: blur (8px);
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #aaa8a8;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#display {
    width: 100%;
    height: 60px;
    border: none;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    font-size: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e6e6e6;
}

button:active {
    background-color: #ddd;
}

#enter {
    background-color: rgba(20, 80, 192, 0.4);
    
}
#enter:hover {
    background-color: rgba(20, 80, 192, 0.6);
}
.result-positive {
    background-color: #d4edda;
}

.result-negative {
    background-color: #f8d7da;
}

.result-zero {
    background-color: #78797a;
}